<section class="container-fluid px-3 px-md-4 py-2">
  <h1>Books.</h1>
  <hr />
  <div class="card-parent">
    {{#each books}}
      <div class="col card-child">
        <div class="card my-2">
          <img
            src="{{this.thumbnailUrl}}"
            class="card-img-top"
            alt="{{this.title}}"
          />
          <div class="card-body">
            <h5 class="card-title">{{this.title}}</h5>
            <p class="card-text">{{this.shortDescription}}</p>
            <span class="card-text fw-bold">Authors: </span>
            {{#each this.authors}}<span>{{this}}, </span>{{/each}}
            <div class="tags mt-2">
              {{#each this.categories}}
                <span
                  class="bg-secondary px-2 py-1 rounded-2 text-white"
                >{{this}}</span>
              {{/each}}
            </div>
          </div>
          <div class="card-footer">
            <small class="text-muted">{{this.publishedDate.$date}}</small>
          </div>
        </div>
      </div>
    {{/each}}
  </div>
</section>